ACH_Connector_Project/Payment.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:ats:mpc:envelope" xmlns:ps="urn:ats:mpc:envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="envelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:string"/>
        <xsd:element name="type" type="xsd:string"/>
        <xsd:element name="format" type="xsd:string"/>
        <xsd:element name="date" type="xsd:string"/>
        <xsd:element name="signature" type="xsd:string"/>
        <xsd:element name="content">
          <xsd:complexType/>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>